.example-dt {
    height: 30px;
    font-weight: bold;
  }
  
  .example-dd {
    height: 30px;
  }
  
  .user-chat-container {
    width: auto;
    height: 75vh;
    margin: 10px, 10px,10px, 10px;
    // border: 1px solid #555;
  }
//   div.example-div {
//     flex: 1 1 auto;
//   }