  
<main>
  <ng-container *ngIf="(curUser$ | async) as cur_user; else notSelected">
    <ng-container *ngIf="curUserMsg$ | async | msgObjToArray: cur_user.name as msg_arr">
      <section class="cur-user">
        <mat-toolbar class="user-header" >{{cur_user.name}}</mat-toolbar>
        <div class="cur-user-chat">      
          <app-user-chat [data-source]="msg_arr" [user-type]="'user'"></app-user-chat>        
        </div>
        <div class="cur-user-msg-input">      
          <app-user-msg-input [user-type]="'user'"></app-user-msg-input>
        </div>
        <!-- <mat-toolbar class="user-footer" >            
        </mat-toolbar> -->
      </section>
      <section class="therapist">
        <mat-toolbar class="therapist-header">Therapist</mat-toolbar>
        <div class="cur-user-chat">      
          <app-user-chat [data-source]="msg_arr" [user-type]="'therapist'"></app-user-chat>        
        </div>
        <div class="cur-user-msg-input">      
          <app-user-msg-input [user-type]="'therapist'"></app-user-msg-input>
        </div>
      </section>
    </ng-container>
  </ng-container>

  <ng-template #notSelected>
    <section class="cur-user">
      <mat-toolbar class="user-header" color="accent">Select User!</mat-toolbar>
    </section>
    <section class="therapist">
      <mat-toolbar class="therapist-header" color="accent">Select User!</mat-toolbar>
      
    </section>
  </ng-template>

  <section class="user-list">
    <mat-toolbar class="user-list-header">User List</mat-toolbar>
    <app-user-list></app-user-list>
  </section>
</main>

