main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    border: 1px solid black;
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}
section.cur-user, section.therapist
 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;

    width: 40%;
    // background: lightblue;
    border: 1px solid lightgrey;
}
.user-header, .therapist-header{
    justify-content: center;
    padding: 20px 0;
}
.cur-msg-input{
    margin-top: 5px; 
   /* height: 75px; */
    border: 3px solid red;
}

div.cur-user-chat {
    flex: 1 1 auto;
    // border: 1px solid red;
}

section.therapist {
    width: 40%;
    // background: lightgray;
    border: 1px solid lightgrey;
}

section.user-list {
    width: 20%;
    // background: lightyellow;
    // border: 1px solid lightgrey;
}

