<ng-container>
  <mat-toolbar color="primary">
    <span class="page-title">Angular-Firebase Chat test app</span>

    <span class="nav-spacer"></span>

    <a mat-button target="_blank"
      href="https://github.com/sergeynetesa/ng-fire-chat"
      aria-label="GitHub Repository">
      <img class="docs-angular-logo"
            src="../assets/img/homepage/github-circle-white-transparent.svg"
            alt="github">
      GitHub
    </a> 
  </mat-toolbar>
   
  <app-main-container></app-main-container> 

</ng-container>

