<ng-container *ngIf="(curUser$ | async) as cur_user"></ng-container>
<div>
  <form (ngSubmit)="onUserMsgSubmit(userFG)" [formGroup]="userFG">
    <mat-form-field class="full-width" appearance="outline" floatLabel="auto">
      <input  matInput 
              placeholder="Input User message"
              formControlName="user_message"
              required
      >
      <mat-label>User message</mat-label>            
      <mat-error *ngIf="user_message?.hasError('required')">
        ERROR: User message is required
      </mat-error>
      <mat-error *ngIf="user_message?.hasError('minlength')">             
        ERROR: Message must be at least {{user_message?.getError('minlength').requiredLength}} characters long.
      </mat-error>                     
    </mat-form-field>
    <button mat-flat-button color="primary">
                    User Send
    </button> 
  </form> 
  <button mat-flat-button color="primary" (click)="getCurMessages()">
    Messages
</button> 
</div>